QMainWindow {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #f0f0f0, stop: 1 #c0c0c0);
}
QPushButton {
    background-color: #00ff00;
}
#a {
    background-color: #ff0000;
}