
.QPushButton {
    background-color: #97eff9;
    font-family: 'Microsoft YaHei';
    font-size: 20px;
}
.QPushButton:hover {
    background-color: #bcf6fd;
}
QWidget#SystemConfigWindow, QWidget#display_area {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                                      stop: 0 #27a6fc, stop: 1 #cce8fa);
}
.QLabel, .QSpinBox {
    font-family: Microsoft YaHei;
    font-size: 20px;
}