
.QPushButton {
    background-color: #97eff9;
    font-family: 'Microsoft YaHei';
    font-size: 20px;
}
.QPushButton:hover {
    background-color: #bcf6fd;
}
.QLabel {
    background-color: #fff;
}
QWidget#display_board {
    background-color: #000;
}
QLabel#label_select {
    background-color: #fff;
}
QWidget#display_area {
    background-color: #fff;
}